
.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #D8E1E9;
  height: 150px;
  color: white;
  padding: 0px 20px;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/****************************/



body {
  margin: 0;
  padding: 0;
  background-color:#f8f8f8;
  margin-bottom: 100px;
  min-width: 1020px;
}
@media screen and (max-width: 600px) {
  body {
    min-width: auto;
  }
}

.content{
  padding-top: 20px;
}
h2{
  /*font-family: 'Libre Caslon Display', serif;*/
  padding: 25px;
  background-image: url("images/pink-seperator.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

h1{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 25px;
}

h2{
  font-size: 26px;
}

ul {
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

ul li{
  text-decoration: none;
  list-style-type:none;
}

.map-wrap{
  height: 500px;
}


a:visited, a:active {
  color: auto;
}

a{
  color: #43859e;
}

a:-webkit-any-link{
  text-decoration: none;
}
.big-div{
  padding: 30px 20px;
  margin-top: 80px;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-div h1{
  max-width: 50%;
}

.big-div.updates .inner-div{
  position: relative;
}


.big-div.updates .inner-div .special-heading{
  width: 350px;
}

.big-div.updates .inner-div .l-r-wrapper{
  padding-right: 180px;
}

a.camping-content-link {
  color: #dc2926;
  font-weight: bold;
}

.inner-div{
  background-color:white;
  width:1000px;
  height: 100%;
//display: flex;
  align-items: center;
  justify-content: center;
  /*border-left: 1px solid #B3C5D7;*/
  /*border-right: 1px solid #B3C5D7;*/
  /*box-shadow: 2px -2px 1px 2px #F2F2F2;*/
  padding-top: 60px;
  padding-bottom: 75px;
}

.inner-div h2{
  margin-bottom: 50px;

}

.inner-div p{
  margin: 0 auto;
  line-height: 36px;
  text-align: justify;
  width: 700px;
}

.inner-div.flower-div{
  position: relative;
  border-bottom: 5px solid black;
  padding-bottom: 120px;
}

.inner-div .champ-open{
  width: 150px;
  bottom: 87px;
  position: absolute;
  left: 423px;
}

.inner-div .entrance-text{
  margin-top: 75px;
}
.App-header .inner-div{
  background-color: #D8E1E9;
  border-left: none;
  border-right:none;
  border-bottom: 2px solid #B3C5D7;
}

.big-div.title-area{
  margin-top: 0;
}

.title-area{
  background-color: #f8f8f8;
}

.title-area h1{
  margin: 10px auto;
  font-size:65px;
  font-weight: normal;
}
.title-area .inner-div {
  padding-top: 30px;
  min-height: 420px;
}

.legend {
  background-color: #f8f8f8;
}


.legend .inner-div{
  background-color: white;
  background-size: cover;
  box-shadow: none;
  width: 500px;
  height: 500px;
}


.details{
  background-color: #f8f8f8;
}

.details .inner-div p{
  width: 700px;
}

.details .details-contact{
  text-align: center;
  display: flex;
  align-items: center;
}

.details .details-contact p {
  width:  auto;
}

.location{
  background-color: #f8f8f8;
}

.transport{
  background-color: #f8f8f8;
}

.social,.accomodation{
  background-color: #f8f8f8;
}

.accom .feature {
  margin-bottom: 50px;
}
.accom h6 {
  margin-top: 30px;
  font-size: 20px;
  padding-bottom: 30px;
}

.accom p{
  max-width: 550px;
  margin: 0 auto;
}


.thanks{
  background-color: #f8f8f8;
}

.decorative-flower{
  position: absolute;
  z-index: 0;
  left: -170px;
  top: -135px;
  width: 500px;
}

.decorative-flower2{
  position: absolute;
  z-index: 0;
  right: -170px;
  bottom: -155px;
  width: 500px;
  transform: rotate(180deg);
}


img.amp{
  width: 40px;
  opacity: 0.7;
  padding-bottom: 10px;
}

.inner-content h3{
  float: left;
  padding-left: 30px;
}

.inner-content p{
  text-align: left;
}


.l-r-wrapper{
  min-width: 600px;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
.l-r-wrapper h3{
  width: 200px;
  text-align: left;
  padding-left: 75px;
  line-height: 0;
}

.location .l-r-wrapper h3{
  width:100px;
}

.details .inner-div p.special-heading,
p.special-heading{
  width: 400px;
  text-align: center;
  padding-bottom: 30px;
}

.section-icon{
  width: 25px;
  padding-left: 5px;
  padding-top: 2px;
  position: absolute;
}

nav{
  padding-top:20px;
}

nav a{
  text-decoration: none;
  padding-right: 20px;
}
a{
  color:#43859e;
  text-decoration: none;
}

a:hover{
  color: #548d37;
}


.name-one{
  background-image: url("images/pink-seperator.png");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 23px;
}

.main-image{
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
  width: 450px;

  margin-top: 50px;
}

.mapouter{overflow:hidden;height:500px;width:600px;}.gmap_canvas {background:none!important;height:500px;width:600px;}

.wedding-date{
  //padding-top: 30px;
}

.required-field{
  color:red;
}


/*Ribbon*/


.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#DC2926 0%, #dc2926 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #dc2926;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #dc2926;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #dc2926;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #dc2926;
}

footer .hope-make-it {
  color:black
}

.aw-shucks{
  text-align: justify;
}

.aw-shucks h2{
  text-align: center;
}

.section-info-dark{
  background-color: lightslategrey;
  color:white
}
.section-info-dark h2{
  color:white;
}

.WE-logo{
margin-left: 35px;
}

.rsvpForm input {
  color:black;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.rsvpForm input:focus {
  outline:0;
  border-color:black;
}

.rsvpForm label{
  margin-right: 20px;
  text-align: left;
  float: left;
}

.rsvpForm i{
  float: left;
}

.rsvp{

}


.form {
}

.rsvpForm {
    padding: 15px 0;
}

.rsvpForm input {
    height: 50px;
    padding-left: 10px;
    margin-right: 10px;
    min-width: 300px;
    padding: 40px;
    clear:left;
}

.rsvpForm input:first-child {
    flex: 1;
}

.rsvpForm button {
    margin-top: 20px;
    padding: 14px 26px;
}

.rsvpForm  button:hover {
    cursor: pointer;
    color: #385997;
    border-color: #385997;
}

/* .rsvpForm  label{
    display: block;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;
} */

.rsvpForm  input{
    padding: 5px;
}

.rsvpForm .left-panel{
  float: left;
  min-width: 240px;
  text-align: center;
  padding-top: 10px;

}

.rsvpForm .right-panel{
  float:left;
  min-width:480px;
}

.rsvpForm label{
  font-size: 25px;
  font-weight: normal;
}

.rsvpForm .form-group{
  clear:both;
  margin-bottom: 40px;
}

.rsvpForm select{
  min-width: 100px;
  color:black;
  min-height: 50px;
  margin-top: 10px;
}

.rsvp input{
  color:black
}

.inner-content p.RSVP-header{
    text-align: center;
}

h3.form-submitted{
    text-align: center;
    margin: 0 auto;
    float: none;
    padding-left: 5px;
}

.buttons input a {
  display: none!important;
  color:white;
}


footer{
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
footer h6 a{
  color:black
}

.venue-info img{
  margin-bottom: 10px;
}

.itinerary h4{
  display: inline;
  text-align: left;
  line-height: 60px;
}

.itinerary a{
  color:black
}

.new-date{
  border:4px solid skyblue;
  margin-top: 10px!important;
  font-size: 15px;
}

.link-to-barn {
  color: black;
}

.link-to-barn:hover{
  color:red
}
.update{
  border-bottom: 30px solid lightslategrey;
}

.new-date-update{
  color:red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.inner-link.update-link{
  color:red!important;
  font-weight:bold;
  animation: blinker 1s linear infinite;
}